main {
    .account-security-section {
        margin-bottom: 10rem;

        .container {
            gap: 7rem;

            @media (min-width: 1200px) {
                display: flex;
            }

            aside {
                padding-top: 3rem;

                .profile {
                    text-align: center;

                    img {
                        margin-bottom: 1rem;
                    }
                }

                @media (min-width: 1200px) {
                    padding-right: 1rem;
                    border-right: 2px solid $gray-300;
                }

                .buttons {
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    @media (min-width: 1200px) {
                        width: 18rem;
                    }
                }
            }

            .details {
                margin-top: 4.5rem;
                width: 100%;

                .header2 {
                    margin-bottom: 2rem;
                }

                .password-info {
                    padding-bottom: 2.5rem;

                    .header5 {
                        color: $theme;
                    }

                    .password-form {
                        label {
                            font-weight: 700;
                            margin: 0;
                            display: inline;
                        }

                        .field-validation-error {
                            margin-left: 0.5rem;
                            color: $danger;
                            font-size: 14px;
                        }

                        .new-password-div {
                            margin-top: 0.5rem;
                            gap: 2rem;
                            display: block;

                            @media (min-width: 1200px) {
                                display: flex;

                                input {
                                    min-width: 10%;
                                    width: 22vw;
                                }
                            }
                        }

                        .userinput {
                            margin-top: 0.2rem;
                            margin-bottom: 1rem;
                            border-radius: 6px;
                            border: 1px solid $gray-400;
                            height: 2.5rem;
                            width: 100%;
                            padding-left: 0.8rem;
                            padding-right: 0.8rem;
                            display: block;

                            &::placeholder {
                                color: $gray-500;
                            }

                            @media (min-width: 1200px) {
                                width: 22vw;
                            }
                        }


                        .form-btns {
                            margin-top: 2rem;
                            display: flex;
                            justify-content: center;

                            button {
                                border: none;
                                margin-right: 1rem;
                            }

                            @media (min-width: 1200px) {
                                justify-content: start;
                            }
                        }
                    }
                }

                .account-deletion {
                    text-align: center;
                    padding-top: 2rem;
                    border-top: 2px solid $gray-300;

                    @media (min-width: 1200px) {
                        text-align: start;
                    }

                    .header5 {
                        color: $theme;
                    }

                    form {
                        display: flex;
                        flex-direction: column;

                        @media (min-width: 1200px) {
                            display: block;
                        }

                        .field-validation-error {
                            margin-left: 0.5rem;
                            color: $danger;
                            font-size: 14px;
                        }

                        .inputs {
                            input {
                                accent-color: $theme;
                                margin-right: 0.5rem;
                                margin-bottom: 2rem;
                            }
                        }

                        .theme-btn {
                            background-color: $danger;
                            border: none;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
