main {
    .work-with-us {
        margin-top: 4rem;
        margin-bottom: 4rem;

        .container {
            padding: 3rem 0rem 3rem 0rem;
            background-color: $gray-100;
            display: flex;
            justify-content: center;

            .ready-text {
                text-align: center;

                @media (min-width: 1024px) {
                    text-align: start;
                    padding-top: 3.5rem;
                }

                @media (min-width: 1200px) {
                    text-align: start;
                    padding-right: 8rem;
                    padding-left: 5.5rem;
                }

                @media (min-width: 1400px) {
                    padding-right: 12rem;
                    padding-left: 8rem;
                }

                h2 {
                    margin-bottom: 3.5rem;
                }

                span {
                    color: $theme;
                }
            }

            img {
                display: none;

                @media (min-width: 1024px) {
                    display: flex;
                    margin-right: 5.5rem;
                }

                @media (min-width: 1200px) {
                    margin-right: 5.5rem;
                }

                @media (min-width: 1400px) {
                    margin-right: 8rem;
                }
            }
        }
    }
}
