main {
    .courses-section {
        margin-top: 3rem;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (min-width: 1024px) {
                align-items: start;
            }

            .breadcrumbs {
                margin-bottom: 1rem;

                a {
                    text-decoration: none;
                    color: $gray-600;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .arrows {
                    margin-left: 0.7rem;
                    margin-right: 0.7rem;
                    font-size: 0.8rem;
                }
            }

            .title-inputs {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1.5rem;
                position: relative;

                @media (min-width: 1024px) {
                    align-items: start;
                    flex-direction: row;
                }

                .header1 {
                    margin-top: 1rem;
                    text-align: center;

                    @media (min-width: 1024px) {
                        margin-right: 15rem;
                    }

                    @media (min-width: 1200px) {
                        margin-right: 26.5rem;
                    }

                    @media (min-width: 1400px) {
                        margin-right: 38rem;
                    }
                }

                .select-input {
                    padding: 0.5rem 6rem 0.5rem 0.5rem;
                    border: 2px solid $gray-400;
                    border-radius: 6px;
                    margin-bottom: 1rem;
                    margin-top: 2rem;

                    &:hover {
                        cursor: pointer;
                    }

                    @media (min-width: 1024px) {
                        margin-top: 1.4rem;
                        margin-right: 1rem;
                    }
                }

                .search-input {
                    width: 230px;
                    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
                    border: 2px solid $gray-400;
                    border-radius: 6px;

                    @media (min-width: 1024px) {
                        margin-top: 1.4rem;
                        width: 280px;
                    }
                }

                i {
                    position: absolute;
                    right: 8px;
                    top: 177px;

                    @media (min-width: 1024px) {
                        top: 37px;
                    }
                }
            }

            .courses-all {
                display: grid;
                gap: 2.5rem;
                grid-template-columns: 1fr;

                @media (min-width: 478px) {
                    grid-template-columns: 1fr 1fr;
                }

                @media (min-width: 992px) {
                    grid-template-columns: 1fr 1fr 1fr;
                }

                .oneCourse {
                    position: relative;
                    box-shadow: 1px 1px 6px 3px $gray-300;
                    border-radius: 6px;
                    transition: all 0.15s ease-in-out;

                    &:hover {
                        box-shadow: 1px 1px 6px 3px $gray-500;
                    }

                    .bestSeller {
                        background-color: $success;
                        color: #ffffff;
                        display: inline;
                        padding: 0rem 0.5rem;
                        border-radius: 6px;
                        position: absolute;
                        top: 1rem;
                        left: 1rem;
                    }

                    .btn-tooltip {
                        .saveCourseBtn {
                            border: none;
                            width: 42px;
                            height: 42px;
                            padding: 10px 16px;
                            font-size: 18px;
                            border-radius: 25px;
                            position: absolute;
                            top: 1rem;
                            right: 1rem;
                            transition: color 0.15s ease-in-out;

                            &:hover {
                                color: $theme;
                            }

                            i {
                                font-size: 2.8rem;
                                margin-left: -1.1rem;
                                margin-top: -0.7rem;
                            }
                        }

                        .tool-tip {
                            position: absolute;
                            color: #ffffff;
                            background-color: $gray-900;
                            padding: 0.3rem 0.9rem;
                            border-radius: 6px;
                            font-weight: 300;
                            top: -1.7rem;
                            right: -0.5rem;
                            opacity: 0;
                            transition: all 0.25s ease-in-out;
                            visibility: hidden;
                        }

                        &:hover {
                            .tool-tip {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }



                    .oneCourseLink {
                        text-decoration: none;

                        img {
                            max-width: 100%;
                            border-radius: 6px;
                        }



                        .course-info {
                            .header5 {
                                margin-top: 1rem;
                                padding-left: 1rem;
                                padding-right: 1rem;
                            }

                            .author {
                                color: $gray-700;
                                padding-left: 1rem;
                            }

                            .prices {
                                display: flex;
                                gap: 0.5rem;
                                align-items: center;

                                .price {
                                    color: $theme;
                                    font-weight: 600;
                                    padding-left: 1rem;
                                }

                                .reducedPrice {
                                    color: $gray-600;
                                }
                            }

                            .hours-and-rating {
                                border-top: 2px solid $gray-300;
                                padding-top: 1rem;
                                display: flex;
                                flex-direction: row;
                                padding-left: 1rem;

                                i {
                                    margin-right: 0.5rem;
                                }

                                p {
                                    margin-right: 1.5rem;
                                    margin-top: -0.15rem;
                                }
                            }
                        }
                    }
                }
            }

            .page-numbers {
                display: flex;
                justify-content: center;
                gap: 0.5rem;
                margin-top: 1.5rem;
                align-items: start;

                .number, .arrow {
                    padding: 0.4rem 0.8rem;
                    border: none;
                    background-color: transparent;
                    border-radius: 4px;
                    color: $gray-800;
                    font-size: 0.8rem;
                    transition: all 0.15s ease-in-out;
                    font-weight: 500;

                    &:hover {
                        background-color: $gray-300;
                    }
                }

                @media (min-width: 1024px) {
                    margin-left: 21.5rem;
                }

                @media (min-width: 1200px) {
                    margin-left: 27rem;
                }

                @media (min-width: 1400px) {
                    margin-left: 33rem;
                }
            }
        }
    }
}
