@model AccountIndexViewModel

<aside>
    <div class="profile">
        <img class="profile-avatar" src="~/images/profile-img.svg" alt="Profile image">
        <h5 class="header5">@($"{Model.BasicInfo.FirstName} {Model.BasicInfo.LastName}")</h5>
        <p class="m-text">@Model.BasicInfo.Email</p>
    </div>
    <div class="buttons">
        <a class="theme-btn" asp-controller="Account" asp-action="Index"><i class="fa-light fa-gear-complex" style="color: #FFFFFF;"></i> Account Details</a>
        <a class="sign-out" asp-controller="Account" asp-action="Security"><i class="fa-regular fa-lock" style="color: #9397AD;"></i> Security</a>
        <a class="sign-out" asp-controller="Account" asp-action="SavedCourses"><i class="fa-regular fa-bookmark" style="color: #9397AD;"></i> Saved Courses</a>
        <a class="sign-out" asp-controller="Auth" asp-action="SignOut"><i class="fa-regular fa-right-from-bracket" style="color: #9397AD;"></i>Sign Out</a>
    </div>
</aside>