<div class="account-deletion">
    <p class="header5">Delete account</p>
    <p class="m-text">When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to reactivate your account.</p>
    <form method="post">
        <div class="inputs">
            <input id="checkbox-delete" class="delete-checkbox" type="checkbox">
            <label class="m-text" for="">Yes, I want to delete my account</label>
        </div>
        <button class="theme-btn" type="submit">Delete</button>
    </form>
</div>