<div class="breadcrumbs">
    <a asp-controller="Home" asp-action="Index"><i class="fa-regular fa-house" style="color: #9397AD;"></i> Home</a>
    <i class="arrows fa-solid fa-chevrons-right" style="color: #9397AD;"></i>
    <a id="contact-link" asp-controller="Contact" asp-action="Index">Contact</a>
</div>
<h1 class="header1">Contact Us</h1>