<div class="contact-us">
    <div class="email-career">
        <div class="contact-option">
            <i class="icon fa-light fa-envelopes" style="color: #6366F1;"></i>
            <div class="text">
                <h3 class="header4">Email us</h3>
                <p class="m-text">Please feel free to drop us a line. We will respond as soon as possible.</p>
                <a class="contact-link" href="mailto: silicon@domain.com">Leave a message <i class="fa-solid fa-arrow-right" style="color: #6366F1;"></i></a>
            </div>
        </div>
        <div class="contact-option">
            <i class="icon fa-regular fa-user-group" style="color: #6366F1;"></i>
            <div class="text">
                <h3 class="header4">Careers</h3>
                <p class="m-text">Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                <a class="contact-link" href="mailto: silicon@career.com">Send an application <i class="fa-solid fa-arrow-right" style="color: #6366F1;"></i></a>
            </div>
        </div>
    </div>
</div>