<div class="contact-form">
    <h2 class="header2">Get In Contact With Us</h2>
    <form method="post" novalidate>
        <label for="">Full name</label>
        <input type="text">

        <label for="">Email address</label>
        <input type="email">

        <label for="">Service <span>(optional)</span></label>
        <select class="select-input">
            <option value="services-all">Choose the service you are interested in</option>
            <option value="service1">Service 1</option>
            <option value="service2">Service 2</option>
            <option value="service3">Service 3</option>
        </select>

        <label for="">Message</label>
        <textarea cols="55" rows="8"></textarea>
        <button class="theme-btn" type="submit">Send Contact Request</button>
    </form>
</div>