<section class="modeswitch-section">
    <div class="container">
        <h3 class="lefth3">Switch Between</h3>
        <h3 class="righth3">Light & Dark Mode</h3>
    </div>
    <div class="container">
        <img class="macbook-img" src="images/MacBook.svg" alt="">
        <img class="arrowSvg" src="images/arrow.svg" alt="">
        <img class="purpleline-svg" src="images/purpleline.svg" alt="">
    </div>
    <div class="mobile-container">
        <p>Switch Between Light & Dark Mode</p>
        <img class="macbook-img" src="images/MacBook.svg" alt="">
    </div>
</section>