@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.theme-btn {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  padding: 0.7rem 1.4rem;
  background-color: #6366F1;
  border-radius: 6px;
  transition: background-color 0.2s, box-shadow 0.2s ease-in-out;
}
.theme-btn i {
  margin-right: 0.5rem;
  margin-left: 0;
  font-size: 1rem;
}
.theme-btn:hover {
  background-color: #5c5ece;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3);
}

.gray-btn {
  text-decoration: none;
  color: #33354D;
  font-weight: 500;
  padding: 0.7rem 1.4rem;
  background-color: #EFF2FC;
  border-radius: 6px;
  transition: background-color 0.2s, box-shadow 0.2s ease-in-out;
}
.gray-btn i {
  margin-right: 0.5rem;
  margin-left: 0;
  font-size: 1rem;
}
.gray-btn:hover {
  background-color: #c0c1f9;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3);
}

.transparent-btn {
  text-decoration: none;
  color: #33354D;
  font-weight: 500;
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  transition: background-color 0.2s;
}
.transparent-btn i {
  margin-right: 0.5rem;
  margin-left: 0;
  font-size: 1rem;
  color: #9397AD;
}
.transparent-btn:hover {
  background-color: #c0c1f9;
}
.transparent-btn:active {
  background-color: #6366F1;
  color: #FFFFFF;
}
.transparent-btn:active i {
  color: #FFFFFF;
}

.header1 {
  font-size: 40px;
  font-weight: 800;
  color: #0B0F19;
}

.header2 {
  font-size: 32px;
  font-weight: 800;
  color: #0B0F19;
}

.header3 {
  font-size: 28px;
  font-weight: 800;
  color: #0B0F19;
}

.header4 {
  font-size: 24px;
  font-weight: 800;
  color: #0B0F19;
}

.header5 {
  font-size: 20px;
  font-weight: 800;
  color: #0B0F19;
}

.header6 {
  font-size: 16px;
  font-weight: 800;
  color: #0B0F19;
}

.display1 {
  font-size: 80px;
  font-weight: 800;
  color: #0B0F19;
}

.display2 {
  font-size: 72px;
  font-weight: 800;
  color: #0B0F19;
}

.display3 {
  font-size: 64px;
  font-weight: 800;
  color: #0B0F19;
}

.display4 {
  font-size: 56px;
  font-weight: 800;
  color: #0B0F19;
}

.display5 {
  font-size: 48px;
  font-weight: 800;
  color: #0B0F19;
}

.display6 {
  font-size: 42px;
  font-weight: 800;
  color: #0B0F19;
}

.xs-text {
  font-size: 12px;
  color: #565973;
}

.s-text {
  font-size: 14px;
  color: #565973;
}

.m-text {
  font-size: 16px;
  color: #565973;
}

.l-text {
  font-size: 18px;
  color: #565973;
}

.xl-text {
  font-size: 20px;
  color: #565973;
}

.lead-text {
  font-size: 24px;
  color: #565973;
}

footer .container {
  max-width: 60%;
}
footer .container .social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
footer .container .social-media i {
  font-size: 1.75rem;
  color: #33354D;
  text-decoration: none;
}
footer .container .footer-text {
  text-align: center;
  color: #9397AD;
  margin-bottom: 3rem;
}
footer .container .footer-text span {
  display: none;
}
@media (min-width: 992px) {
  footer .container .footer-text span {
    display: inline;
  }
}

header .hide {
  display: none !important;
}
header .mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
header .mobile-menu .profile-btn img {
  width: 90px;
  height: 90px;
}
header .mobile-menu .gray-btn i, header .mobile-menu .theme-btn i {
  margin-right: 0.5rem;
}
header .mobile-menu .link {
  text-decoration: none;
  color: #33354D;
  font-weight: 600;
}
header .mobile-menu .link:hover {
  text-decoration: underline;
}
header .container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
header .container .left-nav {
  display: flex;
}
header .container .left-nav .nav-links {
  display: none;
}
header .container .left-nav .nav-links .navigate-link {
  text-decoration: none;
  color: #33354D;
  font-weight: 600;
}
header .container .left-nav .nav-links .navigate-link:hover {
  text-decoration: underline;
}
@media (min-width: 992px) {
  header .container .left-nav .nav-links {
    display: flex;
    margin-left: 3rem;
    margin-top: 0.7rem;
    gap: 1.5rem;
  }
}
header .container .right-nav .menu-burger {
  border: none;
  padding: 0;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: transparent;
}
header .container .right-nav .menu-burger i {
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  header .container .right-nav .menu-burger {
    display: none;
  }
}
header .container .right-nav .nav-btns {
  display: none;
  font-weight: 600;
  color: #565973;
}
@media (min-width: 992px) {
  header .container .right-nav .nav-btns {
    display: flex;
    margin-top: 0.75rem;
  }
}
header .container .right-nav .nav-btns .navbar-buttons {
  margin-left: 2rem;
}
header .container .right-nav .nav-btns .navbar-buttons .profile-btn img {
  margin-top: -0.6rem;
  width: 50px;
  height: 50px;
}
header .container .right-nav .nav-btns .navbar-buttons i {
  margin-right: 0.5rem;
}
header .container .right-nav .nav-btns .navbar-buttons .gray-btn {
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
}
header .container .right-nav .nav-btns .navbar-buttons .theme-btn {
  padding: 0.5rem 1.5rem;
}
header .container .right-nav .nav-btns .theme-switch {
  margin: 0 1rem;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
}
header .container .right-nav .nav-btns .theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .container .right-nav .nav-btns .slider {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 992px) {
  header .container .right-nav .nav-btns .slider {
    display: inline;
  }
}
header .container .right-nav .nav-btns .slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header .container .right-nav .nav-btns input:checked + .slider {
  background-color: #4C82F7;
}
header .container .right-nav .nav-btns input:checked + .slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}
header .container .right-nav .nav-btns .slider.round {
  border-radius: 34px;
}
header .container .right-nav .nav-btns .slider.round:before {
  border-radius: 50%;
}

main .showcase {
  display: flex;
}
main .showcase .showcase-img {
  margin-right: -19rem;
  width: 80%;
  display: none;
}
@media (min-width: 575px) {
  main .showcase .showcase-img {
    margin-bottom: 10rem;
    display: flex;
  }
}
@media (min-width: 1200px) {
  main .showcase .showcase-img {
    margin-bottom: 0;
    display: flex;
  }
}
main .showcase .showcase-info {
  margin-top: 7.5rem;
  max-width: 260px;
  text-align: center;
  justify-content: center;
}
main .showcase .showcase-info h1 {
  color: #0B0F19;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  main .showcase .showcase-info h1 {
    padding-right: 4rem;
  }
}
@media (min-width: 300px) {
  main .showcase .showcase-info {
    max-width: 360px;
  }
}
@media (min-width: 575px) {
  main .showcase .showcase-info {
    text-align: start;
    max-width: 100%;
  }
}
main .showcase .showcase-info p {
  margin: 0;
  color: #565973;
}
main .showcase .showcase-info .bottom-txt {
  margin-bottom: 4rem;
}
main .showcase .showcase-info .theme-btn {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
main .showcase .showcase-info .showcase-brands {
  margin-top: 8rem;
}
main .showcase .showcase-info .showcase-brands h6 {
  color: #0B0F19;
  font-weight: 800;
}
main .showcase .showcase-info .showcase-brands .brands {
  margin-top: 2rem;
}
main .showcase .showcase-info .showcase-brands .brands img {
  margin-right: 1rem;
}

main .tools-section {
  padding-top: 5rem;
  background-color: #F3F6FF;
  padding-bottom: 10rem;
}
main .tools-section .container .heading {
  text-align: center;
  max-width: 260px;
}
main .tools-section .container .heading h2 {
  font-size: 38px;
  font-weight: 800;
  color: #0B0F19;
}
main .tools-section .container .heading p {
  color: #9397AD;
  font-size: 18px;
}
@media (min-width: 300px) {
  main .tools-section .container .heading {
    max-width: 360px;
  }
}
@media (min-width: 575px) {
  main .tools-section .container .heading {
    max-width: 100%;
  }
}
main .tools-section .container .our-tools {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 260px;
}
@media (min-width: 300px) {
  main .tools-section .container .our-tools {
    max-width: 360px;
  }
}
@media (min-width: 575px) {
  main .tools-section .container .our-tools {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
  }
}
main .tools-section .container .our-tools .tool {
  text-align: center;
  text-decoration: none;
  padding: 2rem;
  transition: all 0.15s ease-in-out;
}
main .tools-section .container .our-tools .tool i {
  font-size: 2.5rem;
  margin-top: 1rem;
}
main .tools-section .container .our-tools .tool h5 {
  margin-top: 2rem;
  color: #0B0F19;
  font-weight: 800;
}
main .tools-section .container .our-tools .tool p {
  color: #565973;
}
main .tools-section .container .our-tools .tool:hover {
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 0 #E2E5F1;
}
main .tools-section .container .our-tools #tool-1, main .tools-section .container .our-tools #tool-2 {
  border-bottom: 1px solid #E2E5F1;
}
@media (min-width: 575px) {
  main .tools-section .container .our-tools #tool-1, main .tools-section .container .our-tools #tool-2 {
    border-right: 1px solid #E2E5F1;
  }
}
main .tools-section .container .our-tools #tool-3 {
  border-bottom: 1px solid #E2E5F1;
}
main .tools-section .container .our-tools #tool-4, main .tools-section .container .our-tools #tool-5 {
  border-bottom: 1px solid #E2E5F1;
}
@media (min-width: 575px) {
  main .tools-section .container .our-tools #tool-4, main .tools-section .container .our-tools #tool-5 {
    border-right: 1px solid #E2E5F1;
    border-bottom: none;
  }
}

main .modeswitch-section {
  background-image: linear-gradient(to right, #0B0F19 0%, #0B0F19 50%, white 50%, white 100%);
  max-width: 280px;
}
@media (min-width: 300px) {
  main .modeswitch-section {
    max-width: 360px;
  }
}
@media (min-width: 575px) {
  main .modeswitch-section {
    max-width: 100%;
  }
}
main .modeswitch-section .mobile-container p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: #6366F1;
  padding-top: 4rem;
}
main .modeswitch-section .mobile-container img {
  width: 80%;
  margin-left: 2.3rem;
  padding-bottom: 4rem;
}
@media (min-width: 575px) {
  main .modeswitch-section .mobile-container {
    display: none;
  }
}
main .modeswitch-section .container {
  justify-content: center;
  position: relative;
  align-items: center;
  display: none;
}
main .modeswitch-section .container .lefth3 {
  padding-top: 7rem;
  font-size: 36px;
  font-weight: 800;
  color: #FFFFFF;
  margin-left: 1.5rem;
  margin-bottom: -13rem;
  z-index: 1;
}
main .modeswitch-section .container .righth3 {
  padding-top: 7rem;
  font-size: 36px;
  font-weight: 800;
  color: #0B0F19;
  margin-left: 4rem;
  margin-bottom: -13rem;
  z-index: 1;
}
main .modeswitch-section .container .macbook-img {
  position: absolute;
  margin-right: 5px;
  margin-bottom: -10rem;
  max-width: 100%;
}
main .modeswitch-section .container .purpleline-svg {
  z-index: 2;
  left: 200px;
}
main .modeswitch-section .container .arrowSvg {
  top: 500px;
  z-index: 1;
  position: absolute;
}
@media (min-width: 575px) {
  main .modeswitch-section .container {
    display: flex;
  }
}

main .manage-work-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
main .manage-work-section .container {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  main .manage-work-section .container {
    justify-content: space-between;
  }
}
main .manage-work-section .container img {
  display: none;
}
@media (min-width: 1200px) {
  main .manage-work-section .container img {
    display: flex;
  }
}
main .manage-work-section .container .manage-work {
  margin-top: 8rem;
  max-width: 260px;
  text-align: center;
}
@media (min-width: 300px) {
  main .manage-work-section .container .manage-work {
    max-width: 360px;
  }
}
@media (min-width: 1200px) {
  main .manage-work-section .container .manage-work {
    text-align: start;
    max-width: 100%;
  }
}
main .manage-work-section .container .manage-work h2 {
  font-size: 2rem;
  font-weight: 800;
  color: #0B0F19;
  margin-bottom: 2rem;
}
main .manage-work-section .container .manage-work p {
  color: #565973;
}
main .manage-work-section .container .manage-work p i {
  margin-right: 0.5rem;
}
main .manage-work-section .container .manage-work .theme-btn i {
  margin-top: 3rem;
  margin-left: 1rem;
}

main .download-our-app-section {
  background-color: #F3F6FF;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
main .download-our-app-section .container {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  main .download-our-app-section .container {
    padding-left: 7rem;
    justify-content: start;
  }
}
main .download-our-app-section .container .app-img {
  display: none;
}
@media (min-width: 1024px) {
  main .download-our-app-section .container .app-img {
    display: block;
  }
}
@media (min-width: 1200px) {
  main .download-our-app-section .container .download-here {
    margin-left: 9rem;
    margin-top: 6rem;
  }
}
main .download-our-app-section .container .download-here h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #0B0F19;
  margin-bottom: 3rem;
}
main .download-our-app-section .container .download-here .app-places {
  margin-bottom: 2rem;
}
main .download-our-app-section .container .download-here .app-places .store-text {
  color: #9397AD;
  margin: 0 0 0.5rem 0;
}
main .download-our-app-section .container .download-here .app-places .rating-image {
  margin-top: 1.5rem;
}
@media (min-width: 575px) {
  main .download-our-app-section .container .download-here .app-places .rating-image {
    display: flex;
  }
}
main .download-our-app-section .container .download-here .app-places .rating-image .title-rating h4 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
main .download-our-app-section .container .download-here .app-places .rating-image .title-rating .rating-text {
  color: #565973;
}
main .download-our-app-section .container .download-here .app-places .rating-image a {
  margin-top: 0.35rem;
  margin-left: 4rem;
}

main .integrate-work-section {
  padding-top: 6rem;
}
main .integrate-work-section .container .integrate-title {
  text-align: center;
}
main .integrate-work-section .container .integrate-title h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #0B0F19;
}
main .integrate-work-section .container .integrate-title p {
  margin-top: 1rem;
  color: #9397AD;
}
@media (min-width: 1200px) {
  main .integrate-work-section .container .integrate-title {
    padding: 0 18rem;
    max-width: 100%;
  }
}
main .integrate-work-section .container .other-apps {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 360px;
}
@media (min-width: 575px) {
  main .integrate-work-section .container .other-apps {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 1.2rem;
    max-width: 100%;
  }
}
main .integrate-work-section .container .other-apps .other-app {
  text-decoration: none;
  color: #565973;
  padding-left: 1.5rem;
  padding-top: 1rem;
  margin-bottom: 4rem;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 300px) {
  main .integrate-work-section .container .other-apps .other-app {
    max-width: 360px;
    padding-left: 4rem;
  }
}
@media (min-width: 575px) {
  main .integrate-work-section .container .other-apps .other-app {
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
main .integrate-work-section .container .other-apps .other-app p {
  padding-right: 2.5rem;
  display: none;
}
@media (min-width: 575px) {
  main .integrate-work-section .container .other-apps .other-app p {
    display: flex;
  }
}
main .integrate-work-section .container .other-apps .other-app img {
  margin-bottom: 1.5rem;
}
main .integrate-work-section .container .other-apps .other-app:hover {
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 1px 1px 6px 3px #E2E5F1;
}

main .newsletter-section {
  padding: 5rem 0rem;
  background-color: #F3F6FF;
}
main .newsletter-section .container {
  max-width: 285px;
}
@media (min-width: 300px) {
  main .newsletter-section .container {
    max-width: 360px;
  }
}
@media (min-width: 575px) {
  main .newsletter-section .container {
    max-width: 960px;
  }
}
main .newsletter-section .container .newsletter-title {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  main .newsletter-section .container .newsletter-title {
    justify-content: start;
  }
}
main .newsletter-section .container .newsletter-title h2 {
  font-size: 2.5rem;
  font-weight: 800;
}
@media (min-width: 1200px) {
  main .newsletter-section .container .newsletter-title h2 {
    margin-right: 1.5rem;
  }
}
main .newsletter-section .container .newsform {
  margin-top: 2rem;
}
@media (min-width: 1200px) {
  main .newsletter-section .container .newsform .news-flex {
    display: flex;
  }
}
main .newsletter-section .container .newsform .news-flex h3 {
  font-weight: 800;
  font-size: 1.2rem;
  text-align: center;
}
@media (min-width: 1200px) {
  main .newsletter-section .container .newsform .news-flex h3 {
    text-align: start;
  }
}
main .newsletter-section .container .newsform .news-flex .settings {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 575px) {
  main .newsletter-section .container .newsform .news-flex .settings {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
main .newsletter-section .container .newsform .news-flex .settings .setting {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 575px) {
  main .newsletter-section .container .newsform .news-flex .settings .setting {
    justify-content: start;
  }
}
@media (min-width: 1200px) {
  main .newsletter-section .container .newsform .news-flex .settings .setting {
    margin-left: 5rem;
  }
}
main .newsletter-section .container .newsform .news-flex .settings .setting p {
  color: #565973;
  margin: 0;
  padding-left: 0.5rem;
}
main .newsletter-section .container .newsform .news-flex .settings .setting input[type=checkbox] {
  accent-color: #6366F1;
}
main .newsletter-section .container .newsform .signup {
  margin-top: 3rem;
  position: relative;
  text-align: center;
}
@media (min-width: 575px) {
  main .newsletter-section .container .newsform .signup {
    text-align: start;
  }
}
main .newsletter-section .container .newsform .signup #email {
  width: 75%;
  height: 2.8rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #D4D7E5;
  padding: 0rem 2rem;
}
@media (min-width: 575px) {
  main .newsletter-section .container .newsform .signup #email {
    padding: 0rem 2.5rem;
  }
}
main .newsletter-section .container .newsform .signup #email::placeholder {
  color: #B4B7C9;
}
main .newsletter-section .container .newsform .signup .theme-btn {
  border: none;
}
main .newsletter-section .container .newsform .signup i {
  position: absolute;
  top: 15px;
  left: 35px;
  color: #B4B7C9;
}
@media (min-width: 300px) {
  main .newsletter-section .container .newsform .signup i {
    left: 45px;
  }
}
@media (min-width: 575px) {
  main .newsletter-section .container .newsform .signup i {
    left: 20px;
  }
}
@media (min-width: 1200px) {
  main .newsletter-section .container .newsform .signup i {
    left: 15px;
  }
}
main .newsletter-section .container .agreement {
  margin-top: 0.5rem;
  color: #9397AD;
}
main .newsletter-section .container .agreement .star-span, main .newsletter-section .container .agreement a {
  color: #6366F1;
}

main .signup-section {
  margin-top: 8rem;
}
main .signup-section .container {
  display: flex;
  justify-content: center;
}
main .signup-section .container .signup-form .already-exists-error {
  color: #EF4444;
  font-size: 14px;
}
main .signup-section .container .signup-form .sign-in {
  color: #6366F1;
}
main .signup-section .container .signup-form form label {
  font-weight: 700;
  margin: 0;
  display: inline;
}
main .signup-section .container .signup-form form span {
  margin-left: 0.5rem;
  color: #EF4444;
  font-size: 14px;
}
main .signup-section .container .signup-form form .userinput {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #D4D7E5;
  height: 2.5rem;
  width: 25vw;
  min-width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  display: block;
}
main .signup-section .container .signup-form form .userinput::placeholder {
  color: #B4B7C9;
}
main .signup-section .container .signup-form form .userinput.input-validation-error {
  border: 1px solid #EF4444;
  background-color: rgba(255, 0, 0, 0.05);
}
main .signup-section .container .signup-form form .userinput.input-validation-error::placeholder {
  color: #EF4444;
}
main .signup-section .container .signup-form form .agreement-signup input {
  accent-color: #6366F1;
  margin-right: 0.5rem;
}
main .signup-section .container .signup-form form .agreement-signup p {
  display: inline;
  font-weight: 400;
  color: #565973;
}
main .signup-section .container .signup-form form .agreement-signup p a {
  color: #6366F1;
}
main .signup-section .container .signup-form form .agreement-signup span {
  display: block;
}
main .signup-section .container .signup-form form .agreement-signup button {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  display: block;
  width: 100%;
  border: none;
}
main .signup-section .container .signup-form form .nameinputs {
  margin-top: 2rem;
}
@media (min-width: 1400px) {
  main .signup-section .container .signup-form form .nameinputs {
    display: flex;
    justify-content: space-between;
  }
  main .signup-section .container .signup-form form .nameinputs input {
    min-width: 30%;
    width: 12vw;
  }
}

main .signin-section {
  margin-top: 8rem;
}
main .signin-section .container {
  display: flex;
  justify-content: center;
}
main .signin-section .container .signin-form .sign-in {
  color: #6366F1;
}
main .signin-section .container .signin-form form .error-message {
  color: #EF4444;
  margin-bottom: 0.5rem;
}
main .signin-section .container .signin-form form label {
  font-weight: 700;
  margin: 0;
  display: inline;
}
main .signin-section .container .signin-form form span {
  margin-left: 0.5rem;
  color: #EF4444;
  font-size: 14px;
}
main .signin-section .container .signin-form form .userinput {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #D4D7E5;
  height: 2.5rem;
  width: 25vw;
  min-width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  display: block;
}
main .signin-section .container .signin-form form .userinput::placeholder {
  color: #B4B7C9;
}
main .signin-section .container .signin-form form .userinput.input-validation-error {
  border: 1px solid #EF4444;
  background-color: rgba(255, 0, 0, 0.05);
}
main .signin-section .container .signin-form form .userinput.input-validation-error::placeholder {
  color: #EF4444;
}
main .signin-section .container .signin-form form .remember-me input {
  accent-color: #6366F1;
  margin-right: 0.5rem;
}
main .signin-section .container .signin-form form .remember-me p {
  display: inline;
  font-weight: 400;
  color: #565973;
}
main .signin-section .container .signin-form form .remember-me button, main .signin-section .container .signin-form form .remember-me .fb-btn {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
  border: none;
}
main .signin-section .container .signin-form form .remember-me .fb-btn {
  padding: 0.75rem 0.75rem;
  text-align: center;
  background-color: #316FF6;
}
main .signin-section .container .signin-form form .remember-me .forgot-password {
  display: flex;
  justify-content: center;
}
main .signin-section .container .signin-form form .remember-me .forgot-password a {
  text-decoration: none;
  color: #6366F1;
  font-weight: 600;
}

main .account-details-section {
  margin-bottom: 10rem;
}
main .account-details-section .container {
  gap: 7rem;
}
@media (min-width: 1200px) {
  main .account-details-section .container {
    display: flex;
  }
}
main .account-details-section .container aside {
  padding-top: 3rem;
}
main .account-details-section .container aside .profile {
  text-align: center;
}
main .account-details-section .container aside .profile img {
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  main .account-details-section .container aside {
    padding-right: 1rem;
    border-right: 2px solid #E2E5F1;
  }
}
main .account-details-section .container aside .buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1200px) {
  main .account-details-section .container aside .buttons {
    width: 18rem;
  }
}
main .account-details-section .container .details {
  width: 100%;
  margin-top: 4.5rem;
}
main .account-details-section .container .details .header2 {
  margin-bottom: 2rem;
}
main .account-details-section .container .details .basic-info .header5 {
  color: #6366F1;
}
main .account-details-section .container .details .basic-info .basic-form .error-span {
  margin-left: 0.5rem;
  color: #EF4444;
  font-weight: 400;
  font-size: 14px;
}
main .account-details-section .container .details .basic-info .basic-form p {
  font-weight: 700;
  margin: 0;
  display: inline;
}
main .account-details-section .container .details .basic-info .basic-form span {
  color: #9397AD;
}
main .account-details-section .container .details .basic-info .basic-form .userinput, main .account-details-section .container .details .basic-info .basic-form .textarea {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #D4D7E5;
  height: 2.5rem;
  width: 25vw;
  min-width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  display: block;
}
main .account-details-section .container .details .basic-info .basic-form .userinput::placeholder, main .account-details-section .container .details .basic-info .basic-form .textarea::placeholder {
  color: #B4B7C9;
}
main .account-details-section .container .details .basic-info .basic-form .textarea {
  padding-top: 0.5rem;
  padding-bottom: 5rem;
  resize: none;
}
main .account-details-section .container .details .basic-info .basic-form .form-btns {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
main .account-details-section .container .details .basic-info .basic-form .form-btns button {
  border: none;
  margin-right: 1rem;
}
@media (min-width: 1200px) {
  main .account-details-section .container .details .basic-info .basic-form .form-btns {
    justify-content: start;
  }
}
main .account-details-section .container .details .basic-info .basic-form .nameinputs, main .account-details-section .container .details .basic-info .basic-form .email-phone {
  margin-top: 0.5rem;
  gap: 2rem;
}
@media (min-width: 1400px) {
  main .account-details-section .container .details .basic-info .basic-form .nameinputs, main .account-details-section .container .details .basic-info .basic-form .email-phone {
    display: flex;
  }
  main .account-details-section .container .details .basic-info .basic-form .nameinputs input, main .account-details-section .container .details .basic-info .basic-form .email-phone input {
    min-width: 10%;
    width: 22vw;
  }
}
main .account-details-section .container .details .address-info {
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 2px solid #E2E5F1;
}
main .account-details-section .container .details .address-info .header5 {
  color: #6366F1;
}
main .account-details-section .container .details .address-info .basic-form .error-span {
  margin-left: 0.5rem;
  color: #EF4444;
  font-weight: 400;
  font-size: 14px;
}
main .account-details-section .container .details .address-info .basic-form p {
  font-weight: 700;
  margin: 0;
  display: inline;
}
main .account-details-section .container .details .address-info .basic-form span {
  color: #9397AD;
}
main .account-details-section .container .details .address-info .basic-form .userinput {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #D4D7E5;
  height: 2.5rem;
  width: 25vw;
  min-width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  display: block;
}
main .account-details-section .container .details .address-info .basic-form .userinput::placeholder {
  color: #B4B7C9;
}
main .account-details-section .container .details .address-info .basic-form .postal-city {
  display: flex;
}
main .account-details-section .container .details .address-info .basic-form .form-btns {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
main .account-details-section .container .details .address-info .basic-form .form-btns button {
  border: none;
  margin-right: 1rem;
}
@media (min-width: 1200px) {
  main .account-details-section .container .details .address-info .basic-form .form-btns {
    justify-content: start;
  }
}
main .account-details-section .container .details .address-info .basic-form .postal-city {
  margin-top: 0.5rem;
  gap: 2rem;
  display: block;
}
@media (min-width: 1400px) {
  main .account-details-section .container .details .address-info .basic-form .postal-city {
    display: flex;
  }
  main .account-details-section .container .details .address-info .basic-form .postal-city input {
    min-width: 10%;
    width: 22vw;
  }
}

main .account-security-section {
  margin-bottom: 10rem;
}
main .account-security-section .container {
  gap: 7rem;
}
@media (min-width: 1200px) {
  main .account-security-section .container {
    display: flex;
  }
}
main .account-security-section .container aside {
  padding-top: 3rem;
}
main .account-security-section .container aside .profile {
  text-align: center;
}
main .account-security-section .container aside .profile img {
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  main .account-security-section .container aside {
    padding-right: 1rem;
    border-right: 2px solid #E2E5F1;
  }
}
main .account-security-section .container aside .buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1200px) {
  main .account-security-section .container aside .buttons {
    width: 18rem;
  }
}
main .account-security-section .container .details {
  margin-top: 4.5rem;
  width: 100%;
}
main .account-security-section .container .details .header2 {
  margin-bottom: 2rem;
}
main .account-security-section .container .details .password-info {
  padding-bottom: 2.5rem;
}
main .account-security-section .container .details .password-info .header5 {
  color: #6366F1;
}
main .account-security-section .container .details .password-info .password-form label {
  font-weight: 700;
  margin: 0;
  display: inline;
}
main .account-security-section .container .details .password-info .password-form .field-validation-error {
  margin-left: 0.5rem;
  color: #EF4444;
  font-size: 14px;
}
main .account-security-section .container .details .password-info .password-form .new-password-div {
  margin-top: 0.5rem;
  gap: 2rem;
  display: block;
}
@media (min-width: 1200px) {
  main .account-security-section .container .details .password-info .password-form .new-password-div {
    display: flex;
  }
  main .account-security-section .container .details .password-info .password-form .new-password-div input {
    min-width: 10%;
    width: 22vw;
  }
}
main .account-security-section .container .details .password-info .password-form .userinput {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #D4D7E5;
  height: 2.5rem;
  width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  display: block;
}
main .account-security-section .container .details .password-info .password-form .userinput::placeholder {
  color: #B4B7C9;
}
@media (min-width: 1200px) {
  main .account-security-section .container .details .password-info .password-form .userinput {
    width: 22vw;
  }
}
main .account-security-section .container .details .password-info .password-form .form-btns {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
main .account-security-section .container .details .password-info .password-form .form-btns button {
  border: none;
  margin-right: 1rem;
}
@media (min-width: 1200px) {
  main .account-security-section .container .details .password-info .password-form .form-btns {
    justify-content: start;
  }
}
main .account-security-section .container .details .account-deletion {
  text-align: center;
  padding-top: 2rem;
  border-top: 2px solid #E2E5F1;
}
@media (min-width: 1200px) {
  main .account-security-section .container .details .account-deletion {
    text-align: start;
  }
}
main .account-security-section .container .details .account-deletion .header5 {
  color: #6366F1;
}
main .account-security-section .container .details .account-deletion form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  main .account-security-section .container .details .account-deletion form {
    display: block;
  }
}
main .account-security-section .container .details .account-deletion form .field-validation-error {
  margin-left: 0.5rem;
  color: #EF4444;
  font-size: 14px;
}
main .account-security-section .container .details .account-deletion form .inputs input {
  accent-color: #6366F1;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
}
main .account-security-section .container .details .account-deletion form .theme-btn {
  background-color: #EF4444;
  border: none;
  display: block;
}

.error-section {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.error-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-section .container img {
  width: 80%;
  margin-bottom: 2rem;
}
.error-section .container h1 {
  font-size: 36px;
  margin-bottom: 1.5rem;
}
.error-section .container p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 2.5rem;
}
.error-section .container .theme-btn i {
  margin-right: 0.5rem;
}
@media (min-width: 768px) {
  .error-section .container img {
    width: 50%;
    margin-bottom: 2rem;
  }
  .error-section .container h1 {
    margin-bottom: 1.5rem;
    font-size: 48px;
  }
  .error-section .container p {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 20px;
  }
}

main .contact-us-section {
  padding-top: 3rem;
  background-color: #F3F6FF;
}
main .contact-us-section .container {
  position: relative;
}
main .contact-us-section .container .breadcrumbs {
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width: 992px) {
  main .contact-us-section .container .breadcrumbs {
    text-align: start;
  }
}
main .contact-us-section .container .breadcrumbs a {
  text-decoration: none;
  color: #9397AD;
}
main .contact-us-section .container .breadcrumbs a:hover {
  text-decoration: underline;
}
main .contact-us-section .container .breadcrumbs .arrows {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  font-size: 0.8rem;
}
main .contact-us-section .container .header1 {
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 992px) {
  main .contact-us-section .container .header1 {
    text-align: start;
  }
}
main .contact-us-section .container .contact {
  margin-bottom: 5rem;
}
main .contact-us-section .container .contact .contact-us {
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  main .contact-us-section .container .contact .contact-us {
    display: block;
  }
}
main .contact-us-section .container .contact .contact-us .email-career .contact-option {
  display: flex;
  margin-bottom: 3rem;
  max-width: 400px;
}
main .contact-us-section .container .contact .contact-us .email-career .contact-option .icon {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-right: 1.5rem;
}
main .contact-us-section .container .contact .contact-us .email-career .contact-option .text .contact-link {
  text-decoration: none;
  color: #6366F1;
  font-weight: 500;
}
main .contact-us-section .container .contact .contact-us .email-career .contact-option .text .contact-link:hover {
  text-decoration: underline;
}
main .contact-us-section .container .contact .contact-us .email-career .contact-option .text .fa-arrow-right {
  margin-left: 0.5rem;
}
main .contact-us-section .container .contact .contact-form {
  background-color: #FFFFFF;
  padding: 3rem;
  border-radius: 6px;
  box-shadow: 1px 1px 6px 3px #E2E5F1;
}
@media (min-width: 992px) {
  main .contact-us-section .container .contact .contact-form {
    position: absolute;
    right: 0px;
    top: 40px;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  main .contact-us-section .container .contact .contact-form {
    max-width: 100%;
  }
}
main .contact-us-section .container .contact .contact-form .header2 {
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width: 992px) {
  main .contact-us-section .container .contact .contact-form .header2 {
    text-align: start;
  }
}
main .contact-us-section .container .contact .contact-form label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
main .contact-us-section .container .contact .contact-form span {
  color: #9397AD;
}
main .contact-us-section .container .contact .contact-form input, main .contact-us-section .container .contact .contact-form select, main .contact-us-section .container .contact .contact-form textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
  border: 1px solid #D4D7E5;
  border-radius: 6px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
main .contact-us-section .container .contact .contact-form input::placeholder, main .contact-us-section .container .contact .contact-form select::placeholder, main .contact-us-section .container .contact .contact-form textarea::placeholder {
  color: #B4B7C9;
}
main .contact-us-section .container .contact .contact-form textarea {
  height: 10rem;
}
main .contact-us-section .container .contact .contact-form .theme-btn {
  margin-top: 1rem;
  border: none;
}

main .courses-section {
  margin-top: 3rem;
}
main .courses-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  main .courses-section .container {
    align-items: start;
  }
}
main .courses-section .container .breadcrumbs {
  margin-bottom: 1rem;
}
main .courses-section .container .breadcrumbs a {
  text-decoration: none;
  color: #9397AD;
}
main .courses-section .container .breadcrumbs a:hover {
  text-decoration: underline;
}
main .courses-section .container .breadcrumbs .arrows {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  font-size: 0.8rem;
}
main .courses-section .container .title-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  position: relative;
}
@media (min-width: 1024px) {
  main .courses-section .container .title-inputs {
    align-items: start;
    flex-direction: row;
  }
}
main .courses-section .container .title-inputs .header1 {
  margin-top: 1rem;
  text-align: center;
}
@media (min-width: 1024px) {
  main .courses-section .container .title-inputs .header1 {
    margin-right: 15rem;
  }
}
@media (min-width: 1200px) {
  main .courses-section .container .title-inputs .header1 {
    margin-right: 26.5rem;
  }
}
@media (min-width: 1400px) {
  main .courses-section .container .title-inputs .header1 {
    margin-right: 38rem;
  }
}
main .courses-section .container .title-inputs .select-input {
  padding: 0.5rem 6rem 0.5rem 0.5rem;
  border: 2px solid #D4D7E5;
  border-radius: 6px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
main .courses-section .container .title-inputs .select-input:hover {
  cursor: pointer;
}
@media (min-width: 1024px) {
  main .courses-section .container .title-inputs .select-input {
    margin-top: 1.4rem;
    margin-right: 1rem;
  }
}
main .courses-section .container .title-inputs .search-input {
  width: 230px;
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  border: 2px solid #D4D7E5;
  border-radius: 6px;
}
@media (min-width: 1024px) {
  main .courses-section .container .title-inputs .search-input {
    margin-top: 1.4rem;
    width: 280px;
  }
}
main .courses-section .container .title-inputs i {
  position: absolute;
  right: 8px;
  top: 177px;
}
@media (min-width: 1024px) {
  main .courses-section .container .title-inputs i {
    top: 37px;
  }
}
main .courses-section .container .courses-all {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr;
}
@media (min-width: 478px) {
  main .courses-section .container .courses-all {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  main .courses-section .container .courses-all {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
main .courses-section .container .courses-all .oneCourse {
  text-decoration: none;
  box-shadow: 1px 1px 6px 3px #E2E5F1;
  border-radius: 6px;
  transition: all 0.15s ease-in-out;
}
main .courses-section .container .courses-all .oneCourse:hover {
  box-shadow: 1px 1px 6px 3px #B4B7C9;
}
main .courses-section .container .courses-all .oneCourse img {
  max-width: 100%;
  border-radius: 6px;
}
main .courses-section .container .courses-all .oneCourse .course-info .header5 {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
main .courses-section .container .courses-all .oneCourse .course-info .author {
  color: #565973;
  padding-left: 1rem;
}
main .courses-section .container .courses-all .oneCourse .course-info .price {
  color: #6366F1;
  font-weight: 600;
  padding-left: 1rem;
}
main .courses-section .container .courses-all .oneCourse .course-info .hours-and-rating {
  border-top: 2px solid #E2E5F1;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
}
main .courses-section .container .courses-all .oneCourse .course-info .hours-and-rating i {
  margin-right: 0.5rem;
}
main .courses-section .container .courses-all .oneCourse .course-info .hours-and-rating p {
  margin-right: 1.5rem;
  margin-top: -0.15rem;
}
main .courses-section .container .page-numbers {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  align-items: start;
}
main .courses-section .container .page-numbers .number, main .courses-section .container .page-numbers .arrow {
  padding: 0.4rem 0.8rem;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  color: #33354D;
  font-size: 0.8rem;
  transition: all 0.15s ease-in-out;
  font-weight: 500;
}
main .courses-section .container .page-numbers .number:hover, main .courses-section .container .page-numbers .arrow:hover {
  background-color: #E2E5F1;
}
@media (min-width: 1024px) {
  main .courses-section .container .page-numbers {
    margin-left: 21.5rem;
  }
}
@media (min-width: 1200px) {
  main .courses-section .container .page-numbers {
    margin-left: 27rem;
  }
}
@media (min-width: 1400px) {
  main .courses-section .container .page-numbers {
    margin-left: 33rem;
  }
}

main .work-with-us {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
main .work-with-us .container {
  padding: 3rem 0rem 3rem 0rem;
  background-color: #F3F6FF;
  display: flex;
  justify-content: center;
}
main .work-with-us .container .ready-text {
  text-align: center;
}
@media (min-width: 1024px) {
  main .work-with-us .container .ready-text {
    text-align: start;
    padding-top: 3.5rem;
  }
}
@media (min-width: 1200px) {
  main .work-with-us .container .ready-text {
    text-align: start;
    padding-right: 8rem;
    padding-left: 5.5rem;
  }
}
@media (min-width: 1400px) {
  main .work-with-us .container .ready-text {
    padding-right: 12rem;
    padding-left: 8rem;
  }
}
main .work-with-us .container .ready-text h2 {
  margin-bottom: 3.5rem;
}
main .work-with-us .container .ready-text span {
  color: #6366F1;
}
main .work-with-us .container img {
  display: none;
}
@media (min-width: 1024px) {
  main .work-with-us .container img {
    display: flex;
    margin-right: 5.5rem;
  }
}
@media (min-width: 1200px) {
  main .work-with-us .container img {
    margin-right: 5.5rem;
  }
}
@media (min-width: 1400px) {
  main .work-with-us .container img {
    margin-right: 8rem;
  }
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

.header-gray {
  background-color: #F3F6FF;
}

.header-white {
  background-color: #FFFFFF;
}
