@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.theme-btn {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  padding: 0.7rem 1.4rem;
  background-color: #6366F1;
  border-radius: 6px;
  transition: background-color 0.2s, box-shadow 0.2s ease-in-out;
}
.theme-btn:hover {
  background-color: #5c5ece;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3);
}

.gray-btn {
  text-decoration: none;
  color: #33354D;
  font-weight: 500;
  padding: 0.7rem 1.4rem;
  background-color: #EFF2FC;
  border-radius: 6px;
  transition: background-color 0.2s, box-shadow 0.2s ease-in-out;
}
.gray-btn:hover {
  background-color: #F3F6FF;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3);
}

footer .container {
  max-width: 60%;
}
footer .container .social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
footer .container .social-media i {
  font-size: 2rem;
  color: #33354D;
  text-decoration: none;
}
footer .container .footer-text {
  text-align: center;
  color: #9397AD;
  margin-bottom: 3rem;
}

header .mobile-menu {
  display: none !important;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
header .mobile-menu .link {
  text-decoration: none;
  color: #33354D;
  font-weight: 600;
}
header .container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
@media (min-width: 648px) {
  header .container {
    justify-content: space-between;
  }
}
header .container .left-navbar {
  display: flex;
}
header .container .left-navbar .logo {
  text-decoration: none;
}
header .container .left-navbar .links {
  display: none;
  margin-top: 0.6rem;
  margin-left: 3rem;
}
header .container .left-navbar .links a {
  text-decoration: none;
  color: #33354D;
  font-weight: 600;
  margin-right: 1.5rem;
}
@media (min-width: 648px) {
  header .container .left-navbar .links {
    display: flex;
  }
}
header .container .right-navbar {
  display: flex;
  margin-top: 1rem;
}
header .container .right-navbar p {
  display: none;
  color: #565973;
  font-weight: 600;
}
@media (min-width: 1024px) {
  header .container .right-navbar p {
    display: inline;
  }
}
header .container .right-navbar .theme-switch {
  margin: 0 1rem;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
}
header .container .right-navbar .theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .container .right-navbar .slider {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 1024px) {
  header .container .right-navbar .slider {
    display: inline;
  }
}
header .container .right-navbar .slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header .container .right-navbar input:checked + .slider {
  background-color: #4C82F7;
}
header .container .right-navbar input:checked + .slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}
header .container .right-navbar .slider.round {
  border-radius: 34px;
}
header .container .right-navbar .slider.round:before {
  border-radius: 50%;
}
header .container .right-navbar .navbar-buttons i {
  margin-right: 0.6rem;
}
header .container .right-navbar .navbar-buttons .fa-solid {
  margin: 0rem 0rem 0.8rem 2rem;
  font-size: 1.5rem;
}
@media (min-width: 360px) {
  header .container .right-navbar .navbar-buttons .fa-solid {
    margin: 0rem 0rem 0.8rem 7rem;
  }
}
@media (min-width: 648px) {
  header .container .right-navbar .navbar-buttons .fa-solid {
    margin: 0rem 0rem 0.8rem 0rem;
  }
}
@media (min-width: 1024px) {
  header .container .right-navbar .navbar-buttons .fa-solid {
    display: none;
  }
}
header .container .right-navbar .navbar-buttons .theme-btn {
  display: none;
  margin-left: 1rem;
}
@media (min-width: 1024px) {
  header .container .right-navbar .navbar-buttons .theme-btn {
    display: inline;
  }
}
header .container .right-navbar .navbar-buttons .gray-btn {
  display: none;
  margin-left: 2rem;
}
@media (min-width: 1024px) {
  header .container .right-navbar .navbar-buttons .gray-btn {
    display: inline;
  }
}

main .showcase {
  display: flex;
}
main .showcase .showcase-img {
  margin-right: -19rem;
  width: 80%;
  display: none;
}
@media (min-width: 575px) {
  main .showcase .showcase-img {
    margin-bottom: 10rem;
    display: flex;
  }
}
@media (min-width: 1200px) {
  main .showcase .showcase-img {
    margin-bottom: 0;
    display: flex;
  }
}
main .showcase .showcase-info {
  margin-top: 7.5rem;
  max-width: 260px;
  text-align: center;
  justify-content: center;
}
main .showcase .showcase-info h1 {
  color: #0B0F19;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  main .showcase .showcase-info h1 {
    padding-right: 4rem;
  }
}
@media (min-width: 300px) {
  main .showcase .showcase-info {
    max-width: 360px;
  }
}
@media (min-width: 575px) {
  main .showcase .showcase-info {
    text-align: start;
    max-width: 100%;
  }
}
main .showcase .showcase-info p {
  margin: 0;
  color: #565973;
}
main .showcase .showcase-info .bottom-txt {
  margin-bottom: 4rem;
}
main .showcase .showcase-info .theme-btn {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
main .showcase .showcase-info .showcase-brands {
  margin-top: 8rem;
}
main .showcase .showcase-info .showcase-brands h6 {
  color: #0B0F19;
  font-weight: 800;
}
main .showcase .showcase-info .showcase-brands .brands {
  margin-top: 2rem;
}
main .showcase .showcase-info .showcase-brands .brands img {
  margin-right: 1rem;
}

main .tools-section {
  padding-top: 5rem;
  background-color: #F3F6FF;
  padding-bottom: 10rem;
}
main .tools-section .container .heading {
  text-align: center;
  max-width: 260px;
}
main .tools-section .container .heading h2 {
  font-size: 38px;
  font-weight: 800;
  color: #0B0F19;
}
main .tools-section .container .heading p {
  color: #9397AD;
  font-size: 18px;
}
@media (min-width: 300px) {
  main .tools-section .container .heading {
    max-width: 360px;
  }
}
@media (min-width: 575px) {
  main .tools-section .container .heading {
    max-width: 100%;
  }
}
main .tools-section .container .our-tools {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 260px;
}
@media (min-width: 300px) {
  main .tools-section .container .our-tools {
    max-width: 360px;
  }
}
@media (min-width: 575px) {
  main .tools-section .container .our-tools {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
  }
}
main .tools-section .container .our-tools .tool {
  text-align: center;
  text-decoration: none;
  padding: 2rem;
  transition: all 0.15s ease-in-out;
}
main .tools-section .container .our-tools .tool i {
  font-size: 2.5rem;
  margin-top: 1rem;
}
main .tools-section .container .our-tools .tool h5 {
  margin-top: 2rem;
  color: #0B0F19;
  font-weight: 800;
}
main .tools-section .container .our-tools .tool p {
  color: #565973;
}
main .tools-section .container .our-tools .tool:hover {
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 0 #E2E5F1;
}
main .tools-section .container .our-tools #tool-1, main .tools-section .container .our-tools #tool-2 {
  border-bottom: 1px solid #E2E5F1;
}
@media (min-width: 575px) {
  main .tools-section .container .our-tools #tool-1, main .tools-section .container .our-tools #tool-2 {
    border-right: 1px solid #E2E5F1;
  }
}
main .tools-section .container .our-tools #tool-3 {
  border-bottom: 1px solid #E2E5F1;
}
main .tools-section .container .our-tools #tool-4, main .tools-section .container .our-tools #tool-5 {
  border-bottom: 1px solid #E2E5F1;
}
@media (min-width: 575px) {
  main .tools-section .container .our-tools #tool-4, main .tools-section .container .our-tools #tool-5 {
    border-right: 1px solid #E2E5F1;
    border-bottom: none;
  }
}

main .modeswitch-section {
  background-image: linear-gradient(to right, #0B0F19 0%, #0B0F19 50%, white 50%, white 100%);
  max-width: 280px;
}
@media (min-width: 300px) {
  main .modeswitch-section {
    max-width: 360px;
  }
}
@media (min-width: 575px) {
  main .modeswitch-section {
    max-width: 100%;
  }
}
main .modeswitch-section .mobile-container p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: #6366F1;
  padding-top: 4rem;
}
main .modeswitch-section .mobile-container img {
  width: 80%;
  margin-left: 2.3rem;
  padding-bottom: 4rem;
}
@media (min-width: 575px) {
  main .modeswitch-section .mobile-container {
    display: none;
  }
}
main .modeswitch-section .container {
  justify-content: center;
  position: relative;
  align-items: center;
  display: none;
}
main .modeswitch-section .container .lefth3 {
  padding-top: 7rem;
  font-size: 36px;
  font-weight: 800;
  color: #FFFFFF;
  margin-left: 1.5rem;
  margin-bottom: -13rem;
  z-index: 1;
}
main .modeswitch-section .container .righth3 {
  padding-top: 7rem;
  font-size: 36px;
  font-weight: 800;
  color: #0B0F19;
  margin-left: 4rem;
  margin-bottom: -13rem;
  z-index: 1;
}
main .modeswitch-section .container .macbook-img {
  position: absolute;
  margin-right: 5px;
  margin-bottom: -10rem;
  max-width: 100%;
}
main .modeswitch-section .container .purpleline-svg {
  z-index: 2;
  left: 200px;
}
main .modeswitch-section .container .arrowSvg {
  top: 500px;
  z-index: 1;
  position: absolute;
}
@media (min-width: 575px) {
  main .modeswitch-section .container {
    display: flex;
  }
}

main .manage-work-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
main .manage-work-section .container {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  main .manage-work-section .container {
    justify-content: space-between;
  }
}
main .manage-work-section .container img {
  display: none;
}
@media (min-width: 1200px) {
  main .manage-work-section .container img {
    display: flex;
  }
}
main .manage-work-section .container .manage-work {
  margin-top: 8rem;
  max-width: 260px;
  text-align: center;
}
@media (min-width: 300px) {
  main .manage-work-section .container .manage-work {
    max-width: 360px;
  }
}
@media (min-width: 1200px) {
  main .manage-work-section .container .manage-work {
    text-align: start;
    max-width: 100%;
  }
}
main .manage-work-section .container .manage-work h2 {
  font-size: 2rem;
  font-weight: 800;
  color: #0B0F19;
  margin-bottom: 2rem;
}
main .manage-work-section .container .manage-work p {
  color: #565973;
}
main .manage-work-section .container .manage-work p i {
  margin-right: 0.5rem;
}
main .manage-work-section .container .manage-work .theme-btn i {
  margin-top: 3rem;
  margin-left: 1rem;
}

main .download-our-app-section {
  background-color: #F3F6FF;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
main .download-our-app-section .container {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  main .download-our-app-section .container {
    padding-left: 7rem;
    justify-content: start;
  }
}
main .download-our-app-section .container .app-img {
  display: none;
}
@media (min-width: 1024px) {
  main .download-our-app-section .container .app-img {
    display: block;
  }
}
@media (min-width: 1200px) {
  main .download-our-app-section .container .download-here {
    margin-left: 9rem;
    margin-top: 6rem;
  }
}
main .download-our-app-section .container .download-here h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #0B0F19;
  margin-bottom: 3rem;
}
main .download-our-app-section .container .download-here .app-places {
  margin-bottom: 2rem;
}
main .download-our-app-section .container .download-here .app-places .store-text {
  color: #9397AD;
  margin: 0 0 0.5rem 0;
}
main .download-our-app-section .container .download-here .app-places .rating-image {
  margin-top: 1.5rem;
}
@media (min-width: 575px) {
  main .download-our-app-section .container .download-here .app-places .rating-image {
    display: flex;
  }
}
main .download-our-app-section .container .download-here .app-places .rating-image .title-rating h4 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
main .download-our-app-section .container .download-here .app-places .rating-image .title-rating .rating-text {
  color: #565973;
}
main .download-our-app-section .container .download-here .app-places .rating-image a {
  margin-top: 0.35rem;
  margin-left: 4rem;
}

main .integrate-work-section {
  padding-top: 6rem;
}
main .integrate-work-section .container .integrate-title {
  text-align: center;
}
main .integrate-work-section .container .integrate-title h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #0B0F19;
}
main .integrate-work-section .container .integrate-title p {
  margin-top: 1rem;
  color: #9397AD;
}
@media (min-width: 1200px) {
  main .integrate-work-section .container .integrate-title {
    padding: 0 18rem;
    max-width: 100%;
  }
}
main .integrate-work-section .container .other-apps {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 360px;
}
@media (min-width: 575px) {
  main .integrate-work-section .container .other-apps {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 1.2rem;
    max-width: 100%;
  }
}
main .integrate-work-section .container .other-apps .other-app {
  text-decoration: none;
  color: #565973;
  padding-left: 1.5rem;
  padding-top: 1rem;
  margin-bottom: 4rem;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 300px) {
  main .integrate-work-section .container .other-apps .other-app {
    max-width: 360px;
    padding-left: 4rem;
  }
}
@media (min-width: 575px) {
  main .integrate-work-section .container .other-apps .other-app {
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
main .integrate-work-section .container .other-apps .other-app p {
  padding-right: 2.5rem;
  display: none;
}
@media (min-width: 575px) {
  main .integrate-work-section .container .other-apps .other-app p {
    display: flex;
  }
}
main .integrate-work-section .container .other-apps .other-app img {
  margin-bottom: 1.5rem;
}
main .integrate-work-section .container .other-apps .other-app:hover {
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 1px 1px 6px 3px #E2E5F1;
}

main .newsletter-section {
  padding: 5rem 0rem;
  background-color: #F3F6FF;
}
main .newsletter-section .container {
  max-width: 285px;
}
@media (min-width: 300px) {
  main .newsletter-section .container {
    max-width: 360px;
  }
}
@media (min-width: 575px) {
  main .newsletter-section .container {
    max-width: 960px;
  }
}
main .newsletter-section .container .newsletter-title {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  main .newsletter-section .container .newsletter-title {
    justify-content: start;
  }
}
main .newsletter-section .container .newsletter-title h2 {
  font-size: 2.5rem;
  font-weight: 800;
}
@media (min-width: 1200px) {
  main .newsletter-section .container .newsletter-title h2 {
    margin-right: 1.5rem;
  }
}
main .newsletter-section .container .newsform {
  margin-top: 2rem;
}
@media (min-width: 1200px) {
  main .newsletter-section .container .newsform .news-flex {
    display: flex;
  }
}
main .newsletter-section .container .newsform .news-flex h3 {
  font-weight: 800;
  font-size: 1.2rem;
  text-align: center;
}
@media (min-width: 1200px) {
  main .newsletter-section .container .newsform .news-flex h3 {
    text-align: start;
  }
}
main .newsletter-section .container .newsform .news-flex .settings {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 575px) {
  main .newsletter-section .container .newsform .news-flex .settings {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
main .newsletter-section .container .newsform .news-flex .settings .setting {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 575px) {
  main .newsletter-section .container .newsform .news-flex .settings .setting {
    justify-content: start;
  }
}
@media (min-width: 1200px) {
  main .newsletter-section .container .newsform .news-flex .settings .setting {
    margin-left: 5rem;
  }
}
main .newsletter-section .container .newsform .news-flex .settings .setting p {
  color: #565973;
  margin: 0;
  padding-left: 0.5rem;
}
main .newsletter-section .container .newsform .news-flex .settings .setting input[type=checkbox] {
  accent-color: #6366F1;
}
main .newsletter-section .container .newsform .signup {
  margin-top: 3rem;
  position: relative;
  text-align: center;
}
@media (min-width: 575px) {
  main .newsletter-section .container .newsform .signup {
    text-align: start;
  }
}
main .newsletter-section .container .newsform .signup #email {
  width: 75%;
  height: 2.8rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #D4D7E5;
  padding: 0rem 2rem;
}
@media (min-width: 575px) {
  main .newsletter-section .container .newsform .signup #email {
    padding: 0rem 2.5rem;
  }
}
main .newsletter-section .container .newsform .signup #email::placeholder {
  color: #B4B7C9;
}
main .newsletter-section .container .newsform .signup .theme-btn {
  border: none;
}
main .newsletter-section .container .newsform .signup i {
  position: absolute;
  top: 15px;
  left: 35px;
  color: #B4B7C9;
}
@media (min-width: 300px) {
  main .newsletter-section .container .newsform .signup i {
    left: 45px;
  }
}
@media (min-width: 575px) {
  main .newsletter-section .container .newsform .signup i {
    left: 20px;
  }
}
@media (min-width: 1200px) {
  main .newsletter-section .container .newsform .signup i {
    left: 15px;
  }
}
main .newsletter-section .container .agreement {
  margin-top: 0.5rem;
  color: #9397AD;
}
main .newsletter-section .container .agreement .star-span, main .newsletter-section .container .agreement a {
  color: #6366F1;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
