.header1 {
    font-size: 40px;
    font-weight: 800;
    color: $gray-900;
}

.header2 {
    font-size: 32px;
    font-weight: 800;
    color: $gray-900;
}

.header3 {
    font-size: 28px;
    font-weight: 800;
    color: $gray-900;
}

.header4 {
    font-size: 24px;
    font-weight: 800;
    color: $gray-900;
}

.header5 {
    font-size: 20px;
    font-weight: 800;
    color: $gray-900;
}

.header6 {
    font-size: 16px;
    font-weight: 800;
    color: $gray-900;
}

.display1 {
    font-size: 80px;
    font-weight: 800;
    color: $gray-900;
}

.display2 {
    font-size: 72px;
    font-weight: 800;
    color: $gray-900;
}

.display3 {
    font-size: 64px;
    font-weight: 800;
    color: $gray-900;
}

.display4 {
    font-size: 56px;
    font-weight: 800;
    color: $gray-900;
}

.display5 {
    font-size: 48px;
    font-weight: 800;
    color: $gray-900;
}

.display6 {
    font-size: 42px;
    font-weight: 800;
    color: $gray-900;
}

.xs-text {
    font-size: 12px;
    color: $gray-700;
}

.s-text {
    font-size: 14px;
    color: $gray-700;
}

.m-text {
    font-size: 16px;
    color: $gray-700;
}

.l-text {
    font-size: 18px;
    color: $gray-700;
}

.xl-text {
    font-size: 20px;
    color: $gray-700;
}

.lead-text {
    font-size: 24px;
    color: $gray-700;
}
