@model AuthSignInViewModel
@{ 
    ViewData["Title"] = "Sign in"; 
}

<section class="signin-section">
    <div class="container">
        <div class="signin-form">
            <p class="text-success">@TempData["WasDeleted"]</p>
            <h1 class="header1">Welcome Back</h1>
            <p class="m-text">Don’t have an account yet? <a class="sign-in" asp-controller="Auth" asp-action="SignUp">Sign up here.</a></p>
            <form method="post" asp-controller="Auth" asp-action="SignIn" novalidate>
                <div class="error-message">
                    @ViewData["ErrorMessage"]
                </div>
                <label asp-for="SignInModel.Email"></label>
                <span id="signInSpan" asp-validation-for="SignInModel.Email"></span>
                <input id="signInEmail" asp-for="SignInModel.Email" class="userinput">

                <label asp-for="SignInModel.Password"></label>
                <span asp-validation-for="SignInModel.Password"></span>
                <input asp-for="SignInModel.Password" class="userinput">

                <div class="remember-me">
                    <input asp-for="SignInModel.RememberMe">
                    <p>Remember me</p>
                    <button type="submit" asp-controller="Auth" asp-action="SignIn" class="theme-btn">Sign in</button>

                    <a class="theme-btn fb-btn" asp-controller="Auth" asp-action="Facebook">Sign in with Facebook</a>

                    <a class="theme-btn fb-btn" asp-controller="Auth" asp-action="Google">Sign in with Google</a>

                    <div class="forgot-password">
                        <a asp-controller="Account" asp-action="Forgot">Forgot your password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Shared/_SignInValidationPartial.cshtml")